.assignmentButton{
    background-color:"#008080";
    color:'white';
    border-radius:'0px 0px 10px 10px'
}

.jobButton{
    background-color:"#008080";
    color:'white';
    border-radius:'0px 0px 10px 10px'
}